:global(body) {
    background-color: #def0ee;
  }
  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    color: #025959;
  }

  input[type="text"] {
    width: 55%;
    padding: 10px 15px;
    background-color: #9ed6d7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    margin: 10px auto;
    color: #025959;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  input::placeholder {
    color: #025959;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-item {
    width: 70%;
    margin: 10px 0px;
    padding: 10px 15px;
    background-color: #9ed6d7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .list-item__text {
    font-weight: 500;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
  }
  .list-item--content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    max-width: 80%;
    overflow: hidden;
  }
  .list-item__button {
    margin: 0;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #6cc5c6;
    transition: all 0.2s;
  }
  .list-item__button:hover {
    background-color: #025959;
    color: #6cc5c6;
  }
  .list-item__sort {
    margin-left: 15px;
    width: 70px;
  }
  .checked {
    text-decoration: line-through;
    color: #388686;
  }
  .items-info {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 55%;
  }
  .items-info {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 55%;
  }
  .total-item {
    margin-right: 15px;
  }

  @media screen and (max-width: 668px) {
    input[type="text"],
    .items-info {
      width: 80%;
    }
    .list-item {
      width: 90%;
    }
    .list-item__delete {
      font-size: 15px;
    }
  }